.u-returnIcon {
  background-image: url("../images/arrow_left.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: auto 100%;
  cursor: pointer;
}

.u-expandIcon {
  background-image: url("../images/arrow_down.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: auto 100%;

  .is-open & {
    background-image: url("../images/arrow_left.png");

  }
}

.u-OpenIcon {
  background-image: url("../images/arrow_right.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: auto 100%;
  height: 11px;
}
.u-heartIcon {
  background-image: url("../images/heart.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  //height: 18px;

}

.u-colorBlack {
  color: #ffffff;
}
